.DS_Store
*_tests
*_tests_gcov
*_tests.exe
*_tests_gcov.exe
*_tests.txt
*_output.txt
*.o
*.d
*.a
*.gcda
*.gcno
*.gcov
*.bin
*.elf
*.map
*.disasm
libthunk2real/realarm/debug
libthunk2real/serial.log
/pinkySim
/pinkySim.exe
